<div class = "container" style="background-color: #fff;">
        <div>
            <div class="update_form ">
               <h6>Chỉnh sửa thông tin tài khoản</h6> 
                   
               <button type="button" class="btn btn-primary">Primary</button>  
            </div>
        </div>
</div>
